<div class="nav-scrollable">
	<div class="nav-box">
	<nav class="flex-column">
			<div class="nav-item" style="padding-top:4px; padding-bottom:2px;">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
					<span class="bi bi-currency-bitcoin icon-color" aria-hidden="true"></span><span class="ms-3">Wallet</span>
			</NavLink>
		</div>

			<div class="nav-item" style="padding-top:2px; padding-bottom:2px;">
				<NavLink class="nav-link" href="transactions">
					<span class="bi bi-list-nested icon-color" aria-hidden="true"></span><span class="ms-3">Transactions</span>
			</NavLink>
		</div>
			<div class="nav-item" style="padding-top:2px; padding-bottom:2px;">
			<NavLink class="nav-link" href="node">
					<span class="bi bi-diagram-3 icon-color" aria-hidden="true"></span><span class="ms-3">Node</span>
			</NavLink>
		</div>
		<div class="nav-item" style="padding-top:2px; padding-bottom:4px;">
			<NavLink class="nav-link" href="configuration-prompt">
					<span class="bi bi-gear icon-color" aria-hidden="true"></span><span class="ms-3">Configuration</span>
			</NavLink>
		</div>
	</nav>
	</div>
</div>