<div class="nav-scrollable">
	<div class="nav-box">
	<nav class="flex-column">
		<div class="nav-item">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="me-3">Wallet</span><span class="bi bi-currency-bitcoin icon-color" aria-hidden="true"></span>
			</NavLink>
		</div>

		<div class="nav-item">
				<NavLink class="nav-link" href="transactions">
				<span class="me-3">Transactions</span><span class="bi bi-list-nested icon-color" aria-hidden="true"></span>
			</NavLink>
		</div>
		<div class="nav-item">
			<NavLink class="nav-link" href="node">
				<span class="me-3">Node</span><span class="bi bi-diagram-3 icon-color" aria-hidden="true"></span>
			</NavLink>
		</div>
		<div class="nav-item">
			<NavLink class="nav-link" href="configuration-prompt">
				<span class="me-3">Configuration</span><span class="bi bi-gear icon-color" aria-hidden="true"></span>
			</NavLink>
		</div>
	</nav>
	</div>
</div>