<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<base href="/" />
	<link rel="stylesheet" href="css/app.css" />
	<link rel="stylesheet" href="css/modal.css" />
	<link rel="stylesheet" href="css/qrScanner.css" />
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="lib/bootstrap-icons/font/bootstrap-icons.css"/>
	<link href="manifest.webmanifest" rel="manifest" />
	<link rel="apple-touch-icon" sizes="512x512" href="media/512x512.png" />
	<link rel="apple-touch-icon" sizes="192x192" href="media/192x192.png" />
	<link rel="stylesheet" href="pWallet.styles.css" />
	<link rel="icon" type="image/png" href="media/favicon.png" />
	<HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
	<Routes @rendermode="InteractiveServer" />
	<script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="js/clipboard.js"></script>
	<script type="module" src="js/sse.js"></script>
	<script src="js/sideMenu.js"></script>
	<script src="js/qrScanner.js"></script>
	<script src="js/jsQr.js"></script>
	<script>navigator.serviceWorker.register('service-worker.js');</script>
	<script src="_framework/blazor.web.js"></script>
</body>

</html>
